body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #0d90a7;
    padding: 20px;
    margin: 20px;
}

input[type=radio] {
    -ms-transform: scale(2);
    /* IE 9 */
    -webkit-transform: scale(2);
    /* Chrome, Safari, Opera */
    transform: scale(2);
}

.form-check {
    margin: 30px
}

.form-check-label {
    margin-left: 10px;
    font-size: 20px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

        ul.pagination li.active a {
            background-color: forestgreen;
            color: black;
            border: 1px solid #4CAF50;
        }

        ul.pagination li a:hover:not(.active) {
            background-color: #4CAF50;
        }